
body, html{
    height: 100%;
    margin:0;
}

.bg {
    background-image: url("../img/fond_ecran1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.encadrerTitre, .encadrerSousTitre { 
    
    border-radius: 10px;
    background-color: rgb(249, 228, 183);
    font-size: larger;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 70%;
} 



.encadrerBlocGauche{ 
    border-radius: 10px;
    background-color: rgb(249, 228, 183);
    font-size: medium;
    width: 350px;
    height: 500px;
    padding-top: 30px;
    margin-left: 0px;
    opacity: 70%;
} 

.bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 70%;
}

.tailleImage{
    width: 30%;
    height: 30%;
    padding-right: 50px;
}

.encadrerFooter{
    opacity: 70%;
    border-radius: 10px;
    background-color: rgb(249, 228, 183);
    font-size: larger;
    padding-bottom: 20px;
    padding-top: 20px;
}